#searchCriteria {
  background-color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}

.minHeight34 {
  min-height: 34px;
}

.chevron {
  display: inline-block;
  margin-top: 1%;
  width: 37px;
}
.chevron .arm {
  width: 6px;
  height: 14px;
  transition: all 0.15s linear;
  display: inline-block;
}
.chevron .left {
  background: cornflowerblue;
  transform: rotate(-135deg);
}
.chevron .right {
  background: cornflowerblue;
  transform: rotate(-45deg);
}
.chevron.down .left {
  transform: rotate(-45deg);
}
.chevron.down .right {
  transform: rotate(-135deg);
}
