body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e4e4e4;
  padding-top: 14px;
}

html {
  font-size: 16px;
}

/* Button Styling */

.btn.outline {
  background: none;
  padding: 5px 12px;
}

.btn-custom-main.outline {
  border: 2px solid black;
  color: black;
}

.btn-custom-main.outline:hover,
.btn-custom-main.outline:focus,
.btn-custom-main.outline:active,
.btn-custom-main.outline.active,
.open>.dropdown-toggle.btn-custom-main {
  color: black;
  border-color: grey;
}

.btn-custom-main.disabled,
.btn-custom-main[disabled],
fieldset[disabled] .btn-custom-main,
.btn-custom-main.disabled:hover,
.btn-custom-main[disabled]:hover,
fieldset[disabled] .btn-custom-main:hover,
.btn-custom-main.disabled:focus,
.btn-custom-main[disabled]:focus,
fieldset[disabled] .btn-custom-main:focus,
.btn-custom-main.disabled:active,
.btn-custom-main[disabled]:active,
fieldset[disabled] .btn-custom-main:active,
.btn-custom-main.disabled.active,
.btn-custom-main[disabled].active,
fieldset[disabled] .btn-custom-main.active {
  background-color: lightgray;
  border-color: gray;
  color: black;
  border-radius: 0;
}